{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
{% if LANGUAGE_CODE == "te" %}
  <link href="https://fonts.googleapis.com/css?family=Ramabhadra" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
  <style>
    :root {
      --title-font-family: "Ramabhadra", "Mallana", sans-serif;
      --body-font-family: "Mallana", sans-serif;
      --title-font-weight: normal;
      --body-font-weight: normal;
      --title-font-size: 1.5rem;
      --body-font-size: 0.9rem;
    }
  </style>
{% else %}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <style>
    :root {
      --title-font-family: "Noto Sans", sans-serif;
      --body-font-family: "Noto Sans", sans-serif;
      --title-font-weight: bold;
      --body-font-weight: normal;
      --title-font-size: 1.2rem;
      --body-font-size: 1rem;
    }
  </style>
{% endif %}
{% endblock customcss %}

{% block content %}
<div style="margin-top:10px">
  <div class="col-md-2 col-lg-3"></div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class="card text-center">
      <!--<img class="card-img-top" src="" alt="Card image cap">-->
      <div class="card-body font-normal">
        {# Translators:  Lokal Diwali lucky draw contest #}
        <h3 class="card-title font-bold-title">{% blocktrans %} లోకల్ లక్కీ డ్రా కాంటెస్ట్ ! {% endblocktrans %}</h3>
        {# Translators: Win a 9k Realme smartphone this diwali #}
        {% trans "ఈ దీపావళికి రూ. 9 వేలు విలువైన Realme స్మార్ట్ ఫోన్ గెలుపొందండి" %}
        <br/>
        <img style="margin:10px 0" src="https://rukminim1.flixcart.com/image/832/832/jzd0qkw0/mobile/h/3/c/realme-5-rmx1911-original-imafje8bfnzya5ty.jpeg?q=70" width="150"/>
        <br/>
        {# Translators: Let your friends know about the local news and jobs. Share the local app #}
        {% trans "మీ స్నేహితులకు కూడా లోకల్ వార్తలు మరియు జాబ్స్ సమాచారాన్ని తెలియజేయండి. లోకల్ యాప్ ని రెఫర్ చేయండి" %}
        <p class="card-text font-bold" style="font-size: 1.5em; margin-top:8px">
<!--          <img src="https://media.getlokalapp.com/media/images/coin.svg" width="60" height="60"/> <br/>-->
        {% if user_details.current_points >= 0 %}
          {# Translators: Friends Referred : X points  #}
          {% blocktrans with points=user_details.current_points %}రెఫర్ చేయబడిన ఫ్రెండ్స్ : {{ points }} {% endblocktrans %}</p>
        {% else %}
          {# Translators: Current Contest : 0 points  #}
          {% trans "రెఫర్ చేయబడిన ఫ్రెండ్స్ : 0 " %}
        {% endif %}
        </p>
        <a href="#" onclick="sendToAndroid('{{ user_details.share_uri }}')" class="btn btn-warning font-bold-title ramabhadra-button">
          <img height="16" src="https://media.getlokalapp.com/media/images/share-white-transp.svg" style="margin-bottom:0.25rem" width="16">
          {# Translators: Refer and Win #}
          {% trans "రెఫర్ చేసి గెలవండి" %}
        </a>
      </div>
    </div>
    <div style="margin-top:20px">
      <!--<h5 class="telugu-bold-title">లీడర్ బోర్డ్ కాంపిటీషన్ కు ఆఖరి తేదీ. 31 డిసెంబర్ 2018</h5>-->
      {% if user_details.current_points >= 0 %}
        {# Translators: Deadline for leaderboard contest is - (date) #}
        <h5 class="font-bold-title">{% blocktrans with date=end_date|date:"d M Y"%} కాంపిటీషన్ కు ఆఖరి తేదీ - {{ date }}.{% endblocktrans %}</h5>
      {% else %}
        {# Translators: There is no competition at this time. Please check back later. #}
        <h5 class="font-bold-title text-danger">{% trans "ఈ సమయంలో పోటీ ఏదీ లేదు. దయచేసి తర్వాత మళ్లీ తనిఖీ చేయండి." %}</h5>
      {% endif %}
      <!--<h5 class="telugu-bold text-danger">Paytm రివార్డ్ ఇంకా పొందనివారికి ముఖ్యగమనిక:</h5>-->
      <!--<div class="telugu-normal" style="margin-top:-2px">కాంటెస్ట్ రివార్డ్ పొందుటకు KYC చేయబడిన Paytm నెంబర్ తప్పనిసరి. ఒకవేళ  మీ నెంబర్ పై KYC చేయబడిన Paytm అకౌంట్  లేనట్లయితే , దయచేసి Paytm అకౌంట్ కలిగిన మరియు  KYC చేయబడిన వేరే నెంబర్ ఫీడ్బ్యాక్ ద్వారా  31 -01 -2019  లోపు  తెలియచేయగలరు.</div>-->
      {# Translators: How to Participate #}
      <h5 class="font-bold-title">{% trans " కాంటెస్ట్ లో ఎలా పాల్గొనాలి? :" %}</h5>
      <ul>
        {# Translators: You have to refer 3 friends to enter the draw #}
        <li>{% trans "ముగ్గురు ఫ్రెండ్స్ ను రెఫర్ చేస్తేనే కాంటెస్ట్ కు అర్హులు" %}</li>
        {# Translators: Your referred friend must use the app for 3 days, otherwise you will not get the reward #}
        <li>{% trans "మీరు రెఫర్ చేసిన ఫ్రెండ్ యాప్ ని కనీసం 3 రోజులు వాడాలి, లేకపోతే మీకు ఆ రెఫరల్ కి రివార్డ్ లభించదు." %}</li>
        {# Translators: Increase your chances of winning by referring more friends #}
        <li>{% trans "ఎక్కువమందిని రెఫర్ చేసి మీ అవకాశాన్ని మెరుగుపర్చుకోండి" %}</li>
      </ul>
      <br/>

      <div class="font-normal" style="margin-top:20px">
        <!--<h5 class="telugu-bold-title">Terms and Conditions :</h5>-->
        {# Translators: Terms and conditions - नियम और शर्तें #}
        <h5 class="font-bold-title">{% trans "షరతులు మరియు నిబంధనలు" %}</h5>
        <div class="">
          <ol>
<!--            {# Translators: 1. Contest if for Kurnool users only #}-->
<!--            <li>{% trans "* ఈ కాంటెస్ట్ కర్నూలు జిల్లా యూజర్లకు మాత్రమే" %}</li>-->
            {# Translators: 1. You should have the latest version of Lokal App #}
            <li>{% trans "మీరు తప్పకుండా లోకల్ యాప్ లేటెస్ట్ వెర్షన్ కలిగి ఉండాలి." %}</li>
            {# Translators: 2. Your friends should: #}
            <li>{% trans "మీ స్నేహితుడు తప్పనిసరిగా:" %}
              <ul>
                {# Translators: a. They must download Lokal app using the link you share #}
                <li>{% trans "మీరు షేర్ చేసే లింక్ తోనే Lokal App డౌన్లొడ్ చేసుకోవాలి." %}</li>
                {# Translators: b. They should not have used the Lokal app previously. #}
                <li>{% trans "గతంలో వాళ్ళ ఫోన్ నంబర్స్ మీద Lokal App ను వినియోగించి ఉండకూడదు." %}</li>
                {# Translators: c. They should login into the app using their phone number. #}
                <li>{% trans "App లో తమ ఫోన్ నెంబర్ తో లాగిన్ చేసుకోవాలి" %}</li>
              </ul>
            </li>
<!--            {# Translators: d. PayTM Award is given within a week of the completion of the competition. #}-->
<!--            <li>{% trans "కాంపిటీషన్ పూర్తైన వారం రోజుల్లో పేటీఎం అవార్డ్ ఇవ్వబడుతుంది." %}</li>-->
<!--            &lt;!&ndash;<li>లీడర్ బోర్డ్ లో ఉన్న విజేతలకు.. కాంపిటీషన్ పూర్తైన పదిహేను రోజుల్లోగా బహుమతులు పంపబడుతాయి.</li>&ndash;&gt;-->
<!--            {# Translators: e. PayTM Award will be sent to your logged in phone number. #}-->
<!--            <li>{% trans "మీరు లాగిన్ అయిన ఫోన్ నంబర్ కు పేటీఎం మనీ ట్రాన్స్ ఫర్ చేయబడుతుంది." %}</li>-->
<!--            {# Translators: f. PayTM KYC is mandatory to get award #}-->
<!--            <li>{% trans "కాంటెస్ట్ రివార్డ్ పొందుటకు KYC చేయబడిన Paytm నెంబర్ తప్పనిసరి." %}</li>-->
            {# Translators: g. If you have any questions please send feedback to 'Lokal' #}
            <li>{% trans "ఇంకా ఏమైనా సందేహాలుంటే.. 'లోకల్'కు ఫీడ్ బ్యాక్ పంపండి" %}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-bottom:20px">
      <a href="#" onclick="Android.clickFeedback()" class="btn btn-outline-warning">
         {# Translators: Button to submit Feedback for Referral program #}
         {%trans "Feedback" %}
      </a><br/>
      {# Translators: * We will respond to your feedback within 24 hours #}
      <div class="text-muted font-normal">{% trans "* మేము 24 గంటలలో మీ ఫీడ్బ్యాక్  పై స్పందిస్తాం" %}</div>
    </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
<script type="text/javascript">
  function sendToAndroid(text){
    Android.clickShare(text);
  }
</script>
{% endblock customjs %}
