{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
{% if LANGUAGE_CODE == "te" %}
  <link href="https://fonts.googleapis.com/css?family=Ramabhadra" rel="stylesheet">
  <style>
    :root {
      --title-font-family: "Ramabhadra", "Mallana", sans-serif;
      --body-font-family: "Mallana", sans-serif;
      --title-font-weight: normal;
      --body-font-weight: normal;
      --title-font-size: 1.2rem;
      --body-font-size: 0.8rem;
    }
  </style>
{% else %}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <style>
    :root {
      --title-font-family: "Noto Sans", sans-serif;
      --body-font-family: "Noto Sans", sans-serif;
      --title-font-weight: bold;
      --body-font-weight: normal;
      --title-font-size: 1.2rem;
      --body-font-size: 1rem;
    }
  </style>
{% endif %}
{% endblock customcss %}

{% block content %}
<div class="container-fluid">
  <div class="row">     <!-- needed for center align, adds a scroll -->
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div id="leaderboard-container" class="row">
      <h5 class="font-bold-title" style="margin-top:0.7rem; margin-left:0.7rem">
        Contest:
        <!--Contest: {{ start_date|date:"d M" }} - {{ end_date|date:"d M Y" }}-->
        <select id="contest_dropdown">
          {% for contest in contests %}
            {% if contest.id == current_contest.id %}
              <option value="{{ contest.id }}" selected="selected">{{ contest.start_date|date:"d M" }} - {{ contest.end_date|date:"d M" }}</option>
            {% else %}
              <option value="{{ contest.id }}">{{ contest.start_date|date:"d M" }} - {{ contest.end_date|date:"d M" }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <img id="loading" src="https://media.getlokalapp.com/media/images/ic_spinner_small.gif" style="height:1.5em; display:none">
      </h5>

      <table class="table table-striped leaderboard-table">
        <tbody>
        {% for user in user_list %}
          {% if user.id == user_details.id %}
            <tr class="row-highlight">
          {% else %}
            <tr>
          {% endif %}
            <th class="align-middle text-center" scope="row">{{ forloop.counter }}</th>
            <td class="align-middle">
              {% thumbnail user.profile_pic "30x30" crop="center" as im %}
                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% empty %}
                <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">
              {% endthumbnail %}
            </td>
            <td class="font-bold align-middle">{{ user.name }}</td>
            <td class="font-bold align-middle"><img height="24" src="https://media.getlokalapp.com/media/images/coin.svg" width="24"> {{ user.points }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}
<div id="footer">
  <div class="col-sm-2 col-md-3 col-lg-4"></div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="row">
      <table class="table leaderboard-table">
        <tbody>
          {% if user_details.points == 0 %}
          <tr class="row-highlight" id="footer-row" onclick="Android.clickLeaderboard()">
            <td class="align-middle font-bold">
              <img height="24" src="https://media.getlokalapp.com/media/images/coin.svg" style="margin-left:10px" width="24">
            </td>
            <!--<td class="align-middle telugu-bold">పాల్గొనుటకు లాగిన్ అవండి</td>-->
            {# Translators: Win points and get a place on the leaderboard #}
            <td class="align-middle font-bold">{% trans "పాయింట్స్ గెలుచుకొని లీడర్ బోర్డు లో స్థానం" %}</td>
            <td class="align-middle font-bold">
              <img height="16" src="https://media.getlokalapp.com/media/images/ic_chevron_right_black_24_px.svg">
            </td>
          </tr>
          {% else %}
          <tr class="row-highlight" id="footer-row">
            <th class="align-middle">{{ user_details.rank }}</th>
            <td class="align-middle">
              {% thumbnail user_details.profile_pic "30x30" crop="center" as im %}
                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% empty %}
                <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">
              {% endthumbnail %}
            </td>
            <td class="align-middle font-bold">{{ user_details.name }}</td>
            <td class="align-middle font-bold">
              <img height="24" src="https://media.getlokalapp.com/media/images/coin.svg" width="24"> {{ user_details.points }}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock footer %}

{% block customjs %}
<script type="text/javascript">
$(document).on("change", "#contest_dropdown", function(){
   $("#loading").css("display","inline-block");
   var contest_id = $(this).val();
   $.ajax({
      {% comment %}
        url: '{% url "user-leaderboard" %}'
      {% endcomment %}
      url: '/users/leaderboard/',
      headers: {
        'Authorization': 'Token {{ user_details.token }}'
      },
      method: 'GET',
      data: {
        'contest_id': contest_id,
        'request_type': 'ajax'
      },
      success: function (data) {
        if (data) {
          $("#outer-container").html(data);
        }
      }
   });
   /*text = 'users/leaderboard/?contest_id='+contest_id
   Android.clickReload(text);*/
});
</script>
{% endblock customjs %}
