{% extends 'base.html' %}
{% load static %}
  {% block customcss %}
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css' />
  {% endblock %}

{% block content %}
<div class="col-lg-8 col-md-8">
  <h1>Welcome to Location Search test</h1>
  <h3>Following options are available for use</h3>
  <label style="width:60%">Search suggestions:<br>
  <select class="location-select" id="search_suggest" style="width: 95%; margin-left: 2%;">
  </select></label>
  <br/>
  <label style="width:60%">Search As You Type: <br>
  <select class="location-select" id="search_as_you_type" style="width: 95%; margin-left: 2%;">
  </select></label>
  <br/>
  <label style="width:60%">Search Query (similar to as you type): <br>
  <select class="location-select" id="search_query" style="width: 95%; margin-left: 2%;">
  </select></label>
  <br/>

</div>
{% endblock %}

  {# comment #}
  {% block customjs %}
<!--  <script type="text/javascript" src='{% static "admin/js/vendor/jquery/jquery.min.js" %}'></script>-->
<!--  <script type="text/javascript" src='{% static "admin/js/jquery.init.js" %}'></script>-->
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js'></script>

  <script type="text/javascript">
      $('#search_suggest').select2({
        ajax: {
          url: '/locations/search_suggest/',
          headers: {
              "Authorization" : "Token {{ token }}"
          },
          dataType: 'json',
          delay: 250,
          processResults: function (data) {
            // Transforms the top-level key of the response object from 'items' to 'results'
            var results = data.map(convert_to_results);
            return {
              results: results
            };
          }
        },
        language: {
          searching: function() {
            return "";
          }
        },
        templateResult: formatSuggestions,
        minimumInputLength: 1
      });

      $('#search_as_you_type').select2({
        ajax: {
          url: '/locations/search_as_you_type/',
          dataType: 'json',
          headers: {
              "Authorization" : "Token {{ token }}"
          },
          delay: 250,
          processResults: function (data) {
            // Transforms the top-level key of the response object from 'items' to 'results'
            var results = data.map(convert_to_results);
            return {
              results: results
            };
          }
        },
        templateResult: formatSuggestions,
        minimumInputLength: 1,
        language: {
          searching: function() {
            return "";
          }
        },
      });

      $('#search_query').select2({
        ajax: {
        {% if state_id %}
          url: '/locations/search_query/?state_id={{ state_id }}',
        {% else %}
          url: '/locations/search_query/',
        {% endif %}
          dataType: 'json',
          delay: 250,
          headers: {
              "Authorization" : "Token {{ token }}"
          },
          processResults: function (data) {
            // Transforms the top-level key of the response object from 'items' to 'results'
            var results = data.map(convert_to_results);
            return {
              results: results
            };
          }
        },
        templateResult: formatSuggestions,
        minimumInputLength: 1,
        language: {
          searching: function() {
            return "";
          }
        },
      });

      function convert_to_results(obj){
        return{
          id: obj._id,
          text: obj._source.title,
          district: obj._source.district,
          location_type: obj._source.location_type
        }
      }

      function formatSuggestions (location) {
        if (location.id && location.location_type == "constituency") {
          var $location = $(
            '<span>' + location.text + '</br><span style="font-size:11px; color:dark-grey">'+location.district+'</span></span>'
          );
          return $location;
        } else {
          return location.text;
        }
      };
  </script>
  {% endblock %}
  {# endcomment #}
