{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
<style>
  #outer {
    width: 100%;
    text-align: center;
  }

  #inner {
    display: inline-block;
  }
  #feedback_redirect_btn:active, #feedback_redirect_btn:focus, #feedback_redirect_btn:hover {
    background-color: transparent !important;
    border-color: #ffc107 !important;
  }
</style>
{% endblock customcss %}

{% block content %}
<div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div id="outer">
      <div id="inner">
        <div class="inner justify-content-center" style="width:100%;margin-top:150px;">
          <img src="https://media.getlokalapp.com/referral/no-entry-sign.png">
        </div>
        <div class="inner justify-content-center mt-4" style="width:100%;">
          <div class="font-bold-title">{% trans "Sorry! You do not have access to this page" %}</div>
        </div>
        <div class="inner justify-content-center mt-1" style="width:100%;">
          <div>{% trans "Suspicious activity has been detected on your account." %}</div>
        </div>
        <div class="inner justify-content-center mt-5" style="width:100%;">
          <div class="font-bold-title" style="font-size:0.8rem;">{% trans "If you think this happened by mistake, contact us." %}</div>
        </div>
        <div class="inner justify-content-center mt-2" style="width:100%">
          <a href="#" onclick="Android.clickFeedback()">
            <div class="btn btn-outline-warning text-dark font-bold-title w-100" id="feedback_redirect_btn">
              {%trans "Contact Us" %}
              <img src="https://media.getlokalapp.com/referral/redeem-arrow.png">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
