{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div style="margin-top:10px;line-height:1.6;margin-bottom:120px;">
  <div class="col-md-2 col-lg-3"></div>
  <div class="col-12 col-md-8 col-lg-6">
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0" style="display:block">
                    <button type="button" class="close" data-bs-dismiss="modal" id="close_dialog_button" aria-label="Close" >x</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid p-4">
                        <div class="text-center justify-content-center">
                          <div class="row w-100 justify-content-center">
                            <img height="40px" width="40px" src="https://media.getlokalapp.com/referral/ic-rules-change.png" />
                          </div>
                          <div class="row mt-3">
                            <div><b>{% trans "Hello! We’ve updated the rules for the ‘Invite & Win’ program" %}</b></div>
                          </div>
                          <div class="mt-3">{% trans "Learn more about what has changed by reading through ‘How to Win’ section." %}</div>
                          <a class="btn btn-warning font-bold-title text-dark-grey ramabhadra-button w-100 mt-4" style="height:44px;padding:10px;" href="#" onclick="Android.clickReload('relations/referral_home/?location={{location_id}}')">
                            {% trans "Learn more" %}
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    When the campaign is in PAUSED state. Refer ReferralCampaignStatus in constants -->
    {% if campaign.status == 2 %}
    <div class="mt-2 mb-2 p-3 w-100" style="background-color:#FDE7EB;color:#F3425F;">
      <div class="row">
        <div class="col-1"><img class="align-bottom" height="24" src="https://media.getlokalapp.com/referral/warning-red.png"></div>
        <div class="col">{% trans "Sorry! This campaign is paused. Please try again later." %}</div>
      </div>
    </div>
    {% endif %}
    {% if not is_auth and total_earnings > 0 %}
    <div class="card referral-card mt-2 mb-2 p-3 w-100 bg-primary text-white" style="background-image:;background-size:cover;">
      <div class="row" onclick="Android.clickLogin()">
        <div class="col-1"><img class="align-bottom" height="26" src="https://media.getlokalapp.com/referral/login-icon.png"></div>
        <div class="col-9"><b>{% trans "Log in and save your rewards!" %}</b><br/>{%trans "You may lose your rewards if you don’t log in and your app gets uninstalled" %}</div>
        <div class="col"><img height="26" src="https://media.getlokalapp.com/referral/login-arrow.png"></div>
      </div>
    </div>
    {% endif %}
    <div class="card mt-2 mb-2 w-100 referral-card">
      <img src="{% trans "https://media.getlokalapp.com/referral/text_banner/large-v1/en.png" %}">
    </div>
    {% if total_earnings > 0 %}
      <div class="card mt-2 mb-2 p-3 w-100 referral-card font-bold">
        <div class="row border border-bottom-0 border-top-0 border-left-0 border-right-0 align-items-center p-1">
          <div class="w-50 text-center border border-bottom-0 border-top-0 border-left-0 border-right-2">
            <span class="text-center" style="font-size:30px;">₹ {{ total_earnings }}</span><br/>
            <span style="font-size:12px;font-weight:normal;">{% trans "Your total reward" %}</span>
          </div>
          <div class="w-50 text-center border border-bottom-0 border-top-0 border-left-0 border-right-0">
            <span class="text-center" style="font-size:30px;">₹ {{ redeemed_earnings }}</span><br/>
            <span style="font-size:12px;font-weight:normal;">{% trans "Reward received to bank" %}</span>
          </div>
          <div class="col-sm-12 text-center">
            <br/>
            {% if redeem_button.is_active %}
              <a class="btn btn-outline-warning w-100 font-weight-bold" href="#" style="background-color:#FFF1CC;color:#66676B;" id="redeem_button">
                {{ redeem_button.text }}
                <img src="https://media.getlokalapp.com/referral/redeem-arrow.png">
              </a>
            {% else %}
                {% if not_redeemable %}
                  <div class="alert alert-success" role="alert">
                      <strong>{{ next_redeem_details }}</strong>
                  </div>
                {% else %}
                  <a class="btn btn-outline-secondary disabled w-100 font-weight-bold" href="#" style="background-color:#E0E1E1;color:black;border:none;" onclick="">
                    {{ redeem_button.text }}
                    <img src="https://media.getlokalapp.com/referral/redeem-arrow.png">
                  </a>
                {% endif %}
            {% endif %}
          </div>
          <div class="col-sm-12 text-center">
            <a class="btn font-bold-title ramabhadra-button w-100 mt-2 p-2" href="#" style="color:#0B6FC1;" onclick="viewRewards()">
              {% trans "View invites and rewards" %}
              <img src="https://media.getlokalapp.com/referral/blue-arrow.png">
            </a>
          </div>
        </div>
      </div>
     {% if not_redeemable %}
        <div class="row text-left">
          <div class="col-1 ml-2"><img height="20px" widht="20px" src="https://media.getlokalapp.com/referral/ic-info.png"></div>
            <div class="col" style="color:#66676B">{{ next_redeem_notice }}</div>
        </div>
      {% endif %}
    {% endif %}

    <div style="margin-top:20px;">
      <div id="rules" class="font-normal" style="margin-left:10px;margin-right:10px;">
        <div class="font-bold-title mb-2" style="font-size:1.4rem">{% trans "How to win:" %}</div>
        <div class="row border border-bottom-0 border-top-0 border-left-0 border-right-0 align-items-center p-1">
          <div class="d-flex col-1 justify-content-right"><img height="20" src="https://media.getlokalapp.com/referral/how-to-win-1.png"></div>
          <div class="col font-bold-title">{% trans "You share the link" %}</div>
          <div class="w-100"></div>
          <div class="col-1"></div>
          <div class="col" style="color:#66676B;">{% trans "Click on the “Share” button below to invite your friends" %}</div>
        </div>
        <div class="row border border-bottom-0 border-top-0 border-left-0 border-right-0 align-items-center p-1">
          <div class="d-flex col-1 justify-content-right"><img height="20" src="https://media.getlokalapp.com/referral/how-to-win-2.png"></div>
          <div class="col font-bold-title">{{ sign_up_task.title }}</div>
          <div class="w-100"></div>
          <div class="col-1"></div>
          <div class="col" style="color:#66676B;">{{ sign_up_task.description }}</div>
          <div class="w-100"></div>
          <div class="col-1 p-1"></div><div class="col">
                <div class="border font-weight-bold border-success text-success text-center mb-2 mt-1" style="border-radius:50rem;max-width:70%;">{{ sign_up_task.reward_text }}</div>
              </div>
        </div>
        {% if campaign.tasks|length > 1 %}
        <div class="row border border-bottom-0 border-top-0 border-left-0 border-right-0 align-items-center p-1">
          <div class="d-flex col-1 justify-content-right"><img height="20" src="https://media.getlokalapp.com/referral/how-to-win-3.png"></div>
          <div class="col font-bold-title">{% trans "If your friend:" %}</div>
          <div class="w-100"></div>
          {% for task in campaign.tasks %}
              <div class="col-1"></div><div class="col font-bold-title">• {{ task.title }}</div><div class="w-100"></div>
              <div class="col-1"></div><div class="col" style="color:#66676B;">{{ task.description }}</div><div class="w-100"></div>
              <div class="col-1"></div><div class="col">
                <div class="font-weight-bold border border-success text-success text-center mb-2 mt-1" style="border-radius:50rem;max-width:70%;">{{ task.reward_text }}</div>
              </div><div class="w-100"></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="card referral-card mt-2 mb-2 p-3 w-100 font-normal bg-light" id="terms" style="box-shadow: none;margin-top:20px;" data-toggle="collapse" href="#terms-list" role="button" aria-expanded="false" aria-controls="#terms-list">
        {# Translators: Terms and conditions - नियम और शर्तें #}
        <div class="row">
          <div class="col-11 font-bold-title">{% trans "Terms and conditions" %}</div>
          <div class="col p-1"><img id="collapse-arrow" height="8" src="https://media.getlokalapp.com/referral/down-arrow.png"></div>
        </div>
        <div class="collapse multi-collapse" id="terms-list">
          <div class="row border border-top-0 border-left-0 border-right-0 p-1 ml-1 mr-1">
            <div class="d-flex col-1 p-1 justify-content-center"><img height="20" src="https://media.getlokalapp.com/referral/terms-limit.png"></div>
            <div class="col-10 p-1">{{ limit_condition_text }}</div>
          </div>
          <div class="row p-1 ml-1 mr-1">
            <div class="d-flex col-1 p-1 justify-content-center"><img height="20" src="https://media.getlokalapp.com/referral/terms-blacklist.png"></div>
            <div class="col-10 p-1">{% trans "Lokal app reserves the right to blacklist any user if any fraudulent behaviour is observed" %}</div>
          </div>
        </div>
      </div>
      <div class="border border-bottom-0 border-left-0 border-right-0 mt-4 mr-3" style="position:fixed;bottom:0;background-color:#FFFFFF;right:0;left:10px;">
        {% if share_button.is_active %}
        <a class="btn btn-warning font-bold-title text-dark-grey ramabhadra-button w-100 mt-2" style="height:44px;padding:10px;" href="#" onclick="shareLink('{{ share_button.referral_link }}','{{ share_button.share_text }}', '{{ share_button.img_url }}')">
          {# Translators: Share link #}
          {% trans "Share link" %}
          <img height="14" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="14">
        </a>
        <a class="btn font-bold-title text-blue ramabhadra-button w-100 mt-2 p-2" href="#" style="margin-bottom:10px;height:30px;" onclick="copyLink('{{ share_button.share_text }}')">
          {# Translators: Copy link #}
          {% trans "Copy link" %}
          <img height="12" src="https://media.getlokalapp.com/referral/copy-link.png" style="margin-bottom:10px" width="12">
        </a>
        {% else %}
        <a class="btn btn-secondary font-bold-title disabled ramabhadra-button w-100 mt-2 p-2" style="background-color:#E0E1E1;color:#66676B;border:none;" href="#" onclick="">
          {# Translators: Share link #}
          {% trans "Share link" %}
          <img height="14" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="14">
        </a>
        <a class="btn font-bold-title disabled ramabhadra-button w-100 mt-2 p-2" href="#" style="margin-bottom:10px;color:#66676B;" onclick="">
          {# Translators: Copy link #}
          {% trans "Copy link" %}
          <img height="12" src="https://media.getlokalapp.com/referral/copy-link-black.png" style="margin-bottom:10px" width="12">
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
<script type="text/javascript">
   if ('{{ is_campaign_changed }}' == 'True'){
      $('#success-modal').modal('show');
   }
   if ({{user_version_code}} >= 295){
      Android.showFeedbackIcon('{{ enable_feedback }}' == 'True');
   }
   document.addEventListener("DOMContentLoaded", function() {
      dataJson = JSON.stringify({"page": "landing_page", "referral_code": '{{ referral_code }}', "total_reward":'{{ total_earnings }}', "reward_received_to_bank": '{{ redeemed_earnings }}', "referral_sign_ups_count": '{{ total_referrals }}'});
      Android.logAnalyticsEvent("referral", "screen_view", "viewed_screen_referral", dataJson);
   });
   $("#terms-list").on('shown.bs.collapse', function () {
     $("#collapse-arrow").attr("src","https://media.getlokalapp.com/referral/up-arrow.png");
   });
   $("#terms-list").on('hidden.bs.collapse', function () {
      $("#collapse-arrow").attr("src","https://media.getlokalapp.com/referral/down-arrow.png");
   });
   $(document).on("click", "#redeem_button", function(){
       $("#redeem_button").addClass('disabled');
       if ('{{ is_auth }}' == 'True' && '{{ redeem_amount }}') {
           $.ajax({
              method: "POST",
              url: "/relations/redeem_reward/",
              data: {'amount': '{{ redeem_amount }}'},
              timeout: 4000,
              headers: {
                'Authorization': 'Token {{ user_token }}',
              }
           }).done(function(data, status){
              if (data != "User redeemed already"){
                Android.openExternalPage(data);
              }
           }).fail(function(xhr, status, error){
                Android.clickReload('relations/referral_home/?location={{location_id}}');
           });
       } else {
         if(typeof Android != "undefined"){
              Android.clickLogin();
          }
       }
       dataJson = JSON.stringify({"referral_code": '{{ referral_code }}', "total_reward":'{{ total_earnings }}', "reward_received_to_bank": '{{ redeemed_earnings }}', "referral_sign_ups_count": '{{ total_referrals }}'});
       Android.logAnalyticsEvent("referral", "tap", "tap_redeem", dataJson);
   });
   $(document).on("click", "#close_dialog_button", function(){
        $('#success-modal').modal('hide');
   })
   function viewRewards(){
      Android.clickReload('relations/referral_progress/?status={{campaign.status}}')
   }
   function shareLink(url, text, img_url=''){
      if({{user_version_code}} >= 295){
        Android.clickShare(url, text, img_url);
      }
      else{
        Android.clickShare(url, text);
      }
      dataJson = JSON.stringify({"referral_code": '{{ referral_code }}', "total_reward":'{{ total_earnings }}', "reward_received_to_bank": '{{ redeemed_earnings }}', "referral_sign_ups_count": '{{ total_referrals }}'});
      Android.logAnalyticsEvent("referral", "tap", "tap_share_referral", dataJson);
   }
   function copyLink(url){
      Android.copyToClipBoard(url);
      Android.showToast("Copied link!");
      dataJson = JSON.stringify({"referral_code": '{{ referral_code }}', "total_reward":'{{ total_earnings }}', "reward_received_to_bank": '{{ redeemed_earnings }}', "referral_sign_ups_count": '{{ total_referrals }}'});
      Android.logAnalyticsEvent("referral", "tap", "tap_copy_referral", dataJson);
   }
</script>
{% endblock customjs %}
