{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{# Taken from : https://medium.com/@adandan01/django-inline-formsets-example-mybook-420cc4b6225d #}
  {% block customcss %}
  {{ form.media.css }}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .navbar {
      display: none;
    }
    .container {
      box-sizing: content-box;
    }
    .featherlight .featherlight-content {
      vertical-align: top !important;
    }
    .lighter-button {
      opacity: 70%;
    }
  </style>
  {% endblock %}
{% block content %}
<button type="button" class="btn rounded p-1" id="close_button" style="float: right;"><span class="glyphicon glyphicon-remove"></span></button>
<button type="button" class="btn rounded p-1" id="refresh_button" style="float: right;"><span class="glyphicon glyphicon-repeat"></span></button>
<div >
  <br/>
    <div class="row" style="overflow:auto;white-space:nowrap;">
      <div class="col">
        {% for image in image_dict %}
        <a href="{{image.full_url}}" class="lightboxgallery"><img src="{{image.thumb_url}}" class="img-rounded"></a>
        {% endfor %}
        {% for video in video_dict %}
          <video width="200" height="150" controls>
          <source src="{{video}}" type="video/mp4">
          Your browser does not support the video player.
          </video>
        {% endfor %}
      </div>
    </div>
    <hr>
    <div style="word-wrap:break-word;">
    <h5 style="font-weight:bold;">{% if sub.breaking %}<span style="background-color:red;font-size:60%;color:white; border-radius: 5px;padding: 3px;">BREAKING</span>{% endif %}&nbsp;{{sub.title}}</h5>
    <p>{{user}} | {{sub.location}} |
      {% for constituency in sub.constituencies.all %}
          {{constituency}}
      {% endfor %} <br>{{sub.submitted_on}} </p>
    <p style="white-space: pre-line;" >{{sub.content}}</p>
    </div>
    <hr>
    <form action="" class="sub_form" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% block form %}
            {% crispy form %}
        {% endblock %}
        <p>Post:{{sub.post}}</p>
        <input class="btn btn-primary btn-sm" id = "save_button" type="submit" value="Save"/>
        {% if reg_id %}
        <button class="btn btn-primary btn-sm lighter-button" type="button" id="registration_button" onclick="onRegistrationClick()">View Registration</button>
        {% endif %}
        {% if create_post_button  and not reg_id %}
        <button class="btn  btn-primary btn-sm" type="button" id="_create_post_preview">Create Post (Preview)</button>
        <button class="btn btn-primary btn-sm lighter-button" type="button" id="_create_post_admin">Create Post (Admin)</button>
        {% endif %}
        <button class="btn btn-primary btn-sm lighter-button" type="button" id="_open_submission" onclick="openSubmission()">Open Submission</button>
    </form>
    {% if reg_id %}
    <p style="color:red;"> This user's registration is pending, please process it first!</p>
    {% endif %}
    <div>
      <button style="display:none;float:left;" class="btn btn-primary btn-sm lighter-button" type="button" value="" id="previous_button" onclick="previousSubmission()">Previous</button>
      <button style="display:none;float:right;" class="btn btn-primary btn-sm lighter-button" type="button" value="" id="next_button" onclick="nextSubmission()">Next</button>
    </div>
  <br/>
</div>
{% endblock %}

{% block customjs %}
  {{ form.media.js }}
  <script type="text/javascript">
     $('#save_button').click(function(){
        var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
        fbq('trackCustom', 'submission_preview_save', {
           submission_id : {{sub.id}},
           user: user_name,
         });
        ga('send', {
           hitType: 'event',
           eventCategory: 'Submissions',
           eventAction: 'submission_preview_save',
           eventLabel: {{sub.id}},
           dimension1: user_name,
        });
     });
     $('#_create_post_preview').click(function(){
         var iframe_el = top.document.getElementById("iframe1");
         var iframe_split = iframe_el.contentWindow.location.href.split("/");
         var sub_id = iframe_split.slice(-2)[0];
         location.href = '/posts/post/preview/?submission_id='+sub_id;
         var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
         fbq('trackCustom', 'preview_create_post', {
           submission_id : sub_id,
           user: user_name,
         });
         ga('send', {
           hitType: 'event',
           eventCategory: 'Submissions',
           eventAction: 'preview_create_post',
           eventLabel: sub_id,
           dimension1: user_name,
         });
     });
     $('#_create_post_admin').click(function(){
         var iframe_el = top.document.getElementById("iframe1");
         var iframe_split = iframe_el.contentWindow.location.href.split("/");
         var sub_id = iframe_split.slice(-2)[0];
         window.open('/admin/posts/post/add/?primary=1&submission_id=' + sub_id, '_blank');
         var rightside = top.document.getElementById("rightblock");
         var leftside = top.document.getElementById("leftblock");
         rightside.style.display = "none";
         leftside.style.width = "100%";
         var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
         fbq('trackCustom', 'admin_create_post', {
           submission_id : sub_id,
           user: user_name,
         });
         ga('send', {
           hitType: 'event',
           eventCategory: 'Submissions',
           eventAction: 'admin_create_post',
           eventLabel: sub_id,
           dimension1: user_name,
         });
     });
    function onRegistrationClick(){
      window.open('/admin/users/registereduserprofile/' + '{{reg_id}}', '_blank');
    }
    function openSubmission() {
      window.open('/admin/submissions/submission/{{sub.id}}/', '_blank');
      var rightside = top.document.getElementById("rightblock");
      var leftside = top.document.getElementById("leftblock");
      rightside.style.display = "none";
      leftside.style.width = "100%";
      var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
      fbq('trackCustom', 'preview_open_submission', {
         submission_id : {{sub.id}},
         user: user_name,
      });
      ga('send', {
         hitType: 'event',
         eventCategory: 'Submissions',
         eventAction: 'preview_open_submission',
         eventLabel: {{sub.id}},
         dimension1: user_name,
      });
    }
    function nextSubmission() {
      var next_id = $('#next_button')[0].value;
      if(next_id)
      {
        var url = '/sub/edit/'+next_id+'/';
        var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
        location.href =url;
        fbq('trackCustom', 'preview_next', {
           submission_id : {{sub.id}},
           user: user_name,
        });
        ga('send', {
           hitType: 'event',
           eventCategory: 'Submissions',
           eventAction: 'preview_next',
           eventLabel: {{sub.id}},
           dimension1: user_name,
        });
      }
    }
    function previousSubmission() {
      var prev_id = $('#previous_button')[0].value;
      if(prev_id)
      {
        var url = '/sub/edit/'+prev_id+'/';
        var user_name = top.document.querySelector('div#user-tools strong').innerHTML;
        location.href =url;
        fbq('trackCustom', 'preview_previous', {
           submission_id : {{sub.id}},
           user: user_name,
        });
        ga('send', {
           hitType: 'event',
           eventCategory: 'Submissions',
           eventAction: 'preview_previous',
           eventLabel: {{sub.id}},
           dimension1: user_name,
        });
      }
    }
  </script>

{% endblock %}
