{% extends 'misc_content/google_photos_base.html' %}

{% block google-photos-app %}
<div class="col-md-8">
  <h1>Welcome to Lokal-Google Photos</h1>
  <h3>Following options are available for use</h3>
  <a class="btn btn-primary" href="{% url 'misc_content:google_photos-submission-to-photos' %}"> Upload submission images by date-range </a>
  <br><br>
  <a class="btn btn-primary" href="{% url 'misc_content:google_photos-posts-to-photos' %}" > Upload post images by date-range </a>
  <br><br>
  <a class="btn btn-primary disabled" href="#" > Upload image from local computer (coming soon)</a>

  {% comment %}
<!--  <a href="{% url 'submissions:submissions-upload-to-photos' %}" class="btn btn-primary"> Upload image from local computer </a>-->
<!--  <a href="{% url 'submissions:submissions-posts-to-photos' %}" class="btn btn-primary"> Upload post images by date-range </a>-->
  {% endcomment %}
  <br/>
</div>
{% endblock %}
