{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
    <style>
    .card-body {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .card-subtitle {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .card-title {
      font-family:var(--title-font-family);
      font-size:var(--title-font-size);
      font-weight:var(--title-font-weight);
    }
    .btn {
      font-family:var(--title-font-family);
      font-weight:var(--title-font-weight);
    }

    .quiz {
      margin:0 auto;
    }
    .quiz-question {
      font-weight:bold;
      display:block;
      padding:10px;
      margin:0;
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .quiz-answer {
      padding-left:10px;
      background:#ffffff;
      cursor: pointer;
      border: 1px solid #FFBB00;
      border-radius: 20px;
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .active {
       background-color:#FFBB00;
     }
    .disabled {
      opacity: 0.5;
    }
    #submit_button.inactive {
      background-color: #E9E9E9;
      border-color: #E9E9E9;
    }
    .quiz-option {
      padding-left:10px;
      background:#ffffff;
      cursor: pointer;
      border: 1px solid #FFBB00;
      border-radius: 20px;
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
     }
    .quiz-option.selected {
      background:#FFBB00;
    }
    .quiz-option.chosen {
        background-color: #FF6C58;
        border-color: #FF6C58;
    }
    .quiz-option.correct {
        background-color: #CCF6EE;
        border-color:#CCF6EE;
    }
    .quiz-option.chosen.correct {
        background-color:#00B693;
        border-color:#00B693;
    }
    .green-timer {
        color: #00B693;
        border-color:#00B693;
    }
    .red-text {
      color: #9D0819;
    }
    .inc-line-height{
      line-height: 140%;
    }
    .pending-ref {
      background-image: url('https://media.getlokalapp.com/media/images/referral_quiz/referral_card/ipl-bg.png');
      background-size: cover;
      border-radius: 10px;
      min-height: 200px;
    }
    .pen-ref-img{
      width:50%;
      margin-left: 0;
      margin-right: auto;
      float:left;
    }
    .fg-img{
      max-width:100%;
      object-fit: contain;
      border-radius: 10px;
    }
    .pen-ref-text{
      width: 50%;
      margin-left: auto;
      margin-right: 0;
      float:right;
    }
    .success-ref {
      background-color: #1AB993;
      border-radius: 10px;
      min-height: 150px;
    }
    .success-text{
      width: 50%;
      margin-left: 0;
      margin-right: auto;
      float:left;
    }
    .success-img{
      width:50%;
      margin-left: auto;
      margin-right: 0;
      float:right;
    }
    .success-fg-img{
      max-width:100%;
      object-fit: contain;
      border-radius: 10px;
    }
    .success-card-button {
      border-radius: 8px !important;
      width: 100%;
      white-space: normal;
      word-wrap: break-word;
    }
    a.fixed-colour:link, a.fixed-colour:visited, a.fixed-colour:hover, a.fixed-colour:active{
      color: #EDFD8D;
      background-color: transparent;
      text-decoration: underline;
    }
    .payout-issued{
      background: linear-gradient(137.95deg, #954AF3 -4.71%, #4B3E9B 119.32%);
      border-radius: 10px;
    }
    .payout-processing{
      background: linear-gradient(137.95deg, #513A4D -4.71%, #7A5967 119.32%);
      border-radius: 10px;
    }
    .payout-processed{
      background: linear-gradient(180deg, #13B698 0%, #0E8A72 100%);
      border-radius: 10px;
    }
    .payout-cancelled{
      background: linear-gradient(137.95deg, #F35E4A -4.71%, #BA004E 119.32%);
      border-radius: 10px;
    }
    .referral-nudge-card{
      background: linear-gradient(135deg, #1685db, #173ea1);
      border-radius: 10px !important;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    }
    .bottom-half-referral-nudge{
      background: #ffffff;
      display: none;
      color: #173ea1;
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
    }
    a:hover{
      text-decoration: none;
    }
    .yes-color {
      font-weight: bold;
      background: linear-gradient(90deg, #16c772, #83e4b6);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .no-color {
      font-weight: bold;
      background: linear-gradient(90deg, #e3325d, #f7826b);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .yes-selected{
      background: linear-gradient(90deg, #16c772, #83e4b6);
      color: #ffffff !important;
      opacity: 100% !important;
    }
    .no-selected{
      background: linear-gradient(90deg, #e3325d, #f7826b);
      color: #ffffff !important;
      opacity: 100% !important;
    }
    .ref-card-title {
      text-align: left !important;
      font-size: 18px !important;
      color: #1685DB !important;
      font-weight: bold;
    }
    .ref-card-subtitle {
      text-align: left !important;
      color: #404040 !important;
      font-size: 14px !important;
      font-weight: bold;
    }
    .ref-card-button-text {
      color: #404040 !important;
      font-size: 16px !important;
      text-align: center !important;
      font-weight: bold !important;
    }
    .ref-card-button {
      background-color: white !important;
      border-radius: 8px !important;
      width: 100%;
      white-space: normal;
      word-wrap: break-word;
    }
    .dropdown-css {
      font-family: "Roboto Bold", sans-serif;
      font-size: 14px;
      font-weight:normal;
      padding:2px;
      background: url(https://media.getlokalapp.com/media/images/ipl_logos/downward_filled_arrow.svg) no-repeat 95% #ffffff !important;
      -webkit-appearance: none;
      line-height: 150%;
      color: #404040;
    }
  </style>
{% endblock customcss %}

{% block content %}
<div style="margin-top:10px">
  <div class="col-md-2 col-lg-3"></div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class=" submit-alert alert alert-success alert-dismissible fade row w-90" style="display:none;" role="alert">
      <div class="col-10">
        <strong>{% trans "Thank you for playing!" %}</strong> {% trans "Your answers have been submitted." %}
      </div>
      <div class="col-2">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    </div>
    <div class=" check-alert alert alert-warning alert-dismissible fade row w-90" style="display:none;" role="alert">
      <div class="col-10">
        <strong>{% trans "Please answer all questions before submitting" %}</strong>
      </div>
      <div class="col-2">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    </div>
     <div class="mt-1">
        <p class="card-subtitle text-muted">
          {% trans "Select the game:" %}
        </p>
        <select id="game_dropdown" class="dropdown-css form-controls border border-warning rounded w-100 mt-1" style="border-radius:8px">
          {% for game in games %}
          {% if game.id == current_quiz.id %}
          <option value="{{ game.id }}" selected="selected">{{ game.title }} {{ game.start_time }}</option>
          {% else %}
          <option value="{{ game.id }}">{{game.title}} {{ game.start_time }}</option>
          {% endif %}
          {% endfor %}
        </select>
     </div>
    {% if sponsor %}
    <div class="card sponsor_card p-2 m-1 mt-2">
      <div class="row">
      <div class="col-4 ">
      <img class="card-img" src="{{sponsor.image}}" alt="{{sponsor.title}}">
      </div>
      <div class="col-8">
        <p class="font-bold-title m-0 p-0">{{sponsor.title}}</p>
        <p class="m-0 p-0">{{sponsor.text}}</p>
        <hr class="mt-0 mb-0">
        <a onclick="Android.openExternalPage('{{sponsor.url}}')", class="btn w-100 text-left m-0 p-1">{{sponsor.cta}}</a>
      </div>
      </div>
    </div>
    {% endif %}
    {% if state == 1 %}
    <div class="card game_details mt-2 p-0">
      <div class="card-body pt-0 pb-0 pl-3 pr-3">
        <div class="pt-2 row pl-2 pr-2 align-items-center">
          <div class="col-1 table-column text-right p-0">
            <img src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" height="22">
          </div>
          <div class="table-column p-0">{%trans "Participate in upcoming quiz" %}</div>
        </div>
        <div class="pb-2 row pl-2 pr-2">
          <div class="col-7 table-column text-left p-0"><strong>{{current_quiz.time}}, {{current_quiz.date}}</strong></div>
          <div class="col-5 table-column text-right p-0 green-timer"><strong>⏱️ {{current_quiz.timer}}</strong></div>
        </div>
        {% if current_quiz.banner %}
        <div class="row pl-2 pr-2" style="object-fit:cover;">
          <img src="{{current_quiz.banner}}" width="100%">
        </div>
        {% endif %}
        <div class="row pl-2 pr-2 align-items-center">
          <span >{% trans "Play this quiz " %}</span>&nbsp;
          <span style="color:#FFBB00; font-size:1.5rem;"> ₹ {{current_quiz.prize}}</span>&nbsp;
          <span >{% trans "win" %}</span>
        </div>
      </div>
    </div>
    {% elif state == 2 %}
    <div class="card game_details mt-2 p-0">
      <div class="card-body w-100 pt-0 pb-0 mt-0 mb-0">
        <div class="pt-2 pb-2 row align-items-center">
          <div class="col-1 table-column text-right">
            <img src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" height="22">
          </div>
          <div class="col-6 table-column">{%trans "Live Quiz" %}</div>
          <div class="col-5 table-column text-right green-timer"><strong>⏱️{{current_quiz.timer}}</strong></div>
        </div>
      {% if current_quiz.banner %}
      <div class="row" style="object-fit:cover;">
        <img src="{{current_quiz.banner}}" width="100%">
      </div>
      {% endif %}
        <div class="text-left">{{current_quiz.date}}</div>
      </div>
    </div>
    {% elif state == 3 %}
    <div class="card game_details mt-2">
      <div class="card-body w-100 pt-0 pb-0 m-0">
        <div class="pt-2 pb-2 align-items-center">
          {%trans "This quiz has ended" %}
        </div>
      {% if current_quiz.banner %}
      <div class="row" style="object-fit:cover;">
        <img src="{{current_quiz.banner}}" width="100%">
      </div>
      {% endif %}
        <div >{{current_quiz.date}}</div>
      </div>
    </div>
    {% else %}
      {% if payout_links %}
      <div class="payout-links-card mt-2 mb-2">
        {% if payout_links.status == "issued" %}
        <div class="card-body text-center payout-issued">
          <div class="d-inline-flex">
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg"> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="text-white font-weight-bold mt-2">{% trans "CONGRATS" %}</h2>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg">
          </div>
          <h5 class="text-white font-weight-bold" style="margin-left: 15%; margin-right: 15%;">
            {% blocktrans with winnings=user.winnings rank=user.rank quiz_title=current_quiz.title quiz_date_extended=current_quiz.date_extended %}
            You have won<span class="text-warning"> {{winnings}} </span>for getting rank of<span class="text-warning"> {{rank}} </span> in below quiz<br>Quiz: {{quiz_title}}<br>{{quiz_date_extended}}
            {% endblocktrans %}

          </h5>
          <div class="mt-3 mb-3" style="margin-left: 10%; margin-right: 10%;">
            <a href="{{payout_links.link}}" target="_blank">
              <button type="button" class="btn btn-warning btn-block">
                {% trans "GET YOUR PRIZE" %}
              </button>
            </a>
          </div>
        <p class="text-white">{% trans "Status: " %} <span class="text-warning">{% trans "You haven't withdrawn yet" %} </span></p>
<!--        <p class="mb-0" style="color: #EDFD8D; background-color: transparent; text-decoration: underline;" onclick="Android.openExternalPage('https://youtu.be/Af-2s4ln-q0')">{% trans "Watch this video on how to withdraw" %}</p>-->
        </div>

        {% elif payout_links.status == "processing" %}
        <div class="card-body text-center payout-processing">
          <div class="d-inline-flex">
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg"> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="text-white font-weight-bold mt-2">{% trans "CONGRATS" %}</h2>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg">
          </div>
          <h5 class="text-white font-weight-bold" style="margin-left: 15%; margin-right: 15%;">
            {% blocktrans with winnings=user.winnings rank=user.rank quiz_title=current_quiz.title quiz_date_extended=current_quiz.date_extended %}
            You have won<span class="text-warning"> {{winnings}} </span>for getting rank of<span class="text-warning"> {{rank}} </span> in below quiz<br>Quiz: {{quiz_title}}<br>{{quiz_date_extended}}
            {% endblocktrans %}

          </h5>
          <div class="mt-3 mb-3" style="margin-left: 10%; margin-right: 10%;">
            <a href="{{payout_links.link}}" target="_blank">
              <button type="button" class="btn btn-light btn-block text-secondary" disabled>
                {% trans "GET YOUR PRIZE" %}
              </button>
            </a>
          </div>
        <p class="text-white">{% trans "Status: " %} <span class="text-warning">{% trans "Your withdrawal is processing, you will get money in your account soon" %} </span></p>
<!--        <p class="mb-0" style="color: #EDFD8D; background-color: transparent; text-decoration: underline;" onclick="Android.openExternalPage('https://youtu.be/Af-2s4ln-q0')">{% trans "Watch this video on how to withdraw" %}</p>-->
        </div>

        {% elif payout_links.status == "processed" %}
        <div class="card-body text-center payout-processed">
          <div class="d-inline-flex">
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg"> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="text-white font-weight-bold mt-2">{% trans "CONGRATS" %}</h2>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg">
          </div>
          <h5 class="text-white font-weight-bold" style="margin-left: 15%; margin-right: 15%;">
            {% blocktrans with winnings=user.winnings rank=user.rank quiz_title=current_quiz.title quiz_date_extended=current_quiz.date_extended %}
            You have won<span class="text-warning"> {{winnings}} </span>for getting rank of<span class="text-warning"> {{rank}} </span> in below quiz<br>Quiz: {{quiz_title}}<br>{{quiz_date_extended}}
            {% endblocktrans %}

          </h5>
          <div>
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_gift_voucher.svg">
            <h4 class="text-warning mt-2 mb-0">
              {% trans "You have successfully withdrawn your prize " %}
              <img src="https://media.getlokalapp.com/media/images/ipl_logos/partyipl.svg" height="20" style="margin-bottom: 5px;">
            </h4>
          </div>
        </div>

        {% elif payout_links.status == "cancelled" %}
        <div class="card-body text-center payout-cancelled">
          <div class="d-inline-flex">
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg"> &nbsp;&nbsp;&nbsp;&nbsp;
            <h2 class="text-white font-weight-bold mt-2">{% trans "CONGRATS" %}</h2>&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/ipl_fireworks.svg">
          </div>
          <h5 class="text-white font-weight-bold" style="margin-left: 15%; margin-right: 15%;">
            {% blocktrans with winnings=user.winnings rank=user.rank quiz_title=current_quiz.title quiz_date_extended=current_quiz.date_extended %}
            You have won<span class="text-warning"> {{winnings}} </span>for getting rank of<span class="text-warning"> {{rank}} </span> in below quiz<br>Quiz: {{quiz_title}}<br>{{quiz_date_extended}}
            {% endblocktrans %}

          </h5>
          <p class="text-white mt-3 mb-2">{% trans "Status: " %} <span class="text-warning">{% trans "Your withdrawal link has expired. Please reach out to us using the contact button below" %} </span></p>
          <div class="mb-2">
            <a onclick="Android.clickFeedback()" class="btn btn-warning">
              {% trans "Contact Support" %}
            </a>
          </div>
<!--          <p class="mb-0" style="color: #EDFD8D; background-color: transparent; text-decoration: underline;" onclick="Android.openExternalPage('https://youtu.be/Af-2s4ln-q0')">{% trans "Watch this video on how to withdraw" %}</p>-->
        </div>
        {% endif %}

      </div>
      {% endif %}

    <div class="card game_details mt-2">
      <div class="card-body w-100 pt-0 pb-0 mt-0 mb-0">
        <div class="pt-2 pb-2 row align-items-center">
          <div class="col-10 table-column">{%trans "The quiz results are here!" %}</div>
        </div>
      {% if current_quiz.banner %}
      <div class="row" style="object-fit:cover;">
        <img src="{{current_quiz.banner}}" width="100%">
      </div>
      {% endif %}
      <div >{{current_quiz.date}}</div>
      {% if participated %}
      <div class="row mt-1 mb-1">
          <div class="col-1 table-column">
            <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/correct_tick.svg" style="margin-bottom:0.25rem" width="16">
          </div>
          <div class="col-8 table-column">
            {% trans "Correct Answers:" %}
          </div>
          <div class="col-3 table-column text-right">
            {{user.correct}}/{{user.total}}
          </div>
      </div>
      <div class="row mt-1 mb-1">
        <div class="col-1 table-column">
          <img height="16" src="https://media.getlokalapp.com/media/images/coin.svg" style="margin-bottom:0.25rem" width="16">
        </div>
        <div class="col-8 table-column">
          {% trans "Points earned:" %}
        </div>
        <div class="col-3 table-column text-right">
          {{user.score}}/{{user.points_total}}
        </div>
      </div>
      <div class="row mt-1 mb-1">
        <div class="col-1 table-column">
          <img height="16" src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" style="margin-bottom:0.25rem" width="16">
        </div>
        <div class="col-8 table-column">
          {% trans "Leaderboard rank:" %}
        </div>
        <div class="col-3 table-column text-right">
          {{user.rank}}
        </div>
      </div>
      {% if user.winnings != 0 %}
      <div class="row mt-1 mb-1">
        <div class="col-1 table-column">
          <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/money_sign.svg" style="margin-bottom:0.25rem" width="16">
        </div>
        <div class="col-8 table-column">
          {% trans "Prize money earned :" %}
        </div>
        <div class="col-3 table-column text-right">
          {{user.winnings}}
        </div>
      </div>
      {% endif %}
      <a class="btn btn-outline-warning w-100 text-left mb-1" onclick="gameClickShare()">
      {% trans "Share Results" %}
        <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
      </a>
      <a class="btn btn-outline-warning w-100 text-left" href = "#myQuiz" style="color:black;">
      {% trans "Check your submissions" %}
        <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/arrow.svg" style="margin-bottom:0.25rem" width="16">
      </a>
      {% endif %}
      </div>
    </div>
    {% endif %}
<!--    <div class="ticket_card">-->
<!--      <div class="card mt-1 mb-1">-->
<!--        <div class="card-body p-2 w-100">-->
<!--          <h5 class="card-title">{% trans "Your tickets :" %} {{user.tickets}}</h5>-->
<!--          {% if user.tickets != 0 %}-->
<!--          <p class="card-text">{% trans "Use your tickets to participate in daily quizzes!" %}</p>-->
<!--          <p class="card-text">{% trans "1 ticket = 1 quiz" %}</p>-->
<!--          {% elif participated %}-->
<!--          <p class="card-text">{% trans "Your tickets are over with this quiz. You can refer and earn tickets to participate in more quizzes." %}</p>-->
<!--          {% else %}-->
<!--          <p class="card-text red-text">{% trans "You cannot participate in this quiz because you don’t have any tickets!" %}</p>-->
<!--          {% endif %}-->
<!--          <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning w-100 text-left">-->
<!--          {% trans "Refer and Earn Tickets" %}-->
<!--          <img height="16" src="https://media.getlokalapp.com/media/images/share-white-transp.svg" style="margin-bottom:0.25rem" width="16">-->
<!--          </a>-->
<!--          <p class="card-text">{% trans "Earn 3 tickets for each successful referral!" %}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="referral_card mt-2">
      {% if pending_referrals > 0 %}
      <div class="card-body pending-ref p-0 w-100 d-flex">
        <div class="pen-ref-img m-0 p-0 d-flex align-items-end flex-column">
          <img class="fg-img mt-auto mr-auto" src="https://media.getlokalapp.com/media/images/referral_quiz/referral_card/ipl-foreground.png" alt="">
        </div>
        <div class="pen-ref-text text-center p-2 d-flex align-items-end flex-column">
          <p class="text-white mt-0 mr-auto ref-card-title card-title">{% trans "Lokal Guru Quiz Contest" %}</p>
          <p class="text-white mt-2 mr-auto ref-card-subtitle card-subtitle">{% trans "Play, invite friends & win exciting prizes daily!!" %}</p>
<!--            <p class="text-warning mb-1">{% trans "Pending Referrals: " %} {{pending_referrals}}</p>-->
          <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning center ref-card-button mt-auto mb-0">
            <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/add_friends.svg" style="margin-bottom:0.25rem" width="16">
            {% trans "Invite Friends" %}
          </a>
        </div>
      </div>
      {% else %}
      <div class="card-body success-ref p-0 w-100 d-flex">
        <div class="success-text pl-3 pt-3 pb-3 pr-1 d-flex align-items-start flex-column">
          <h4 class="text-white card-title">{% trans "Congrats!" %}</h4>
          <h6 class="text-white inc-line-height font-weight-bold card-subtitle">{% trans "You are now eligible to play all quizzes!" %}</h6>
          <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning text-center success-card-button mt-auto mb-0">
            <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
            {% trans "Refer Friends" %}
          </a>
        </div>
        <div class="success-img m-0 p-0 d-flex align-items-end flex-column">
          <img class="success-fg-img mt-auto ml-auto" src="https://media.getlokalapp.com/media/images/ipl_logos/success-fg.png" alt="">
        </div>
      </div>
      {% endif %}
    </div>
    {% if user.tickets == 0 %}
    <div class="referral-nudge-card mt-2">
      <div class="p-3 text-dark">
        <h4 class="text-white text-center ml-5 mr-5 card-title">{% trans "Have you invited 2 friends to install Lokal app?" %}</h4>
        <button class="btn btn-light font-weight-bold w-100 mb-2 yes_button card-title" ><span class="yes-color">{% trans "Yes" %}</span></button>
        <button class="btn btn-light font-weight-bold w-100 mb-2 no_button card-title" ><span class="no-color">{% trans "No" %}</span></button>
      </div>
      <div class="pb-1 pt-3 bottom-half-referral-nudge text-center">
        <div class="yes-info card-subtitle">
          <p><strong>{% trans "Oops, you are just 1 step away. Tell them to login into the app" %}</strong></p><p>{% trans "Please make sure they install Lokal app and log in." %}</p>
        </div>
        <div class ="no-info hide card-subtitle">
          <p>{%trans "Hurry! You can play the next game only by" %}</p><p><strong>{% trans "inviting 2 friends to install Lokal app." %}</strong></p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if state == 4 %}
    <div class="row mt-2">
      <div class="col-8 title-font">
      <h5>{% trans "Quiz Leaderboard" %}</h5>
      </div>
      <div class="col-4">
        <hr style="border-top:1px solid #FFBB00; " />
      </div>
    </div>
    <div class="card leaderboard">
      <div class="container font-bold mt-1 mb-1">
        <img id="loading" src="https://media.getlokalapp.com/media/images/ic_spinner_small.gif" style="height:1.5em; display:none">
        <div class="pt-2 pb-2 row align-items-center leaderboard-header">
          <div class="col-1 table-column text-right">
            <img id="rank" src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" height="22">
          </div>
          <div class="col-6 table-column font-bold-title pl-3">{%trans "Name" %}</div>
          <div class="col-5 table-column font-bold-title text-right">{%trans "Points" %} <img height="18" src="https://media.getlokalapp.com/media/images/coin.svg"></div>
        </div>
        {% for list_user in users_list %}
          {% if forloop.counter <= 10 %}
          <div class="border-wrap-winner mt-2 row">
          {% else %}
          <div class="border-wrap-all mt-2 row">
          {% endif %}
          {% if list_user.id == user.id %}
            <div class="pt-1 pb-1 w-100 row m-0 align-items-center" style="border-radius:6px; background:#ffe381">
          {% else %}
            <div class="pt-1 pb-1 w-100 row m-0 align-items-center" style="border-radius:6px; background:#fff">
          {% endif %}
              <div class="col-1 table-column text-right">{{ forloop.counter }}</div>
              <div class="col-2 table-column text-center">
                {% thumbnail list_user.profile_pic "30x30" crop="center" as im %}
                  <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% empty %}
                  <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">
                {% endthumbnail %}
              </div>
              <div class="col-7 table-column">{{ list_user.name }}</div>
              <div class="col-2 table-column text-right">{{ list_user.score }}</div>
            </div>
          </div>
        {% endfor %}
      </div>  <!-- class container closing -->
    </div>
    {% endif %}

    {% if state == 2 and not participated and user.tickets != 0 %}
    <div class="quiz mt-2" >
      {% for question in questions %}
      <div class="card m-1" data-quiz-question={{question.question.id}} style="padding:10px;">
        <div class="row mt-2">
        <p class="quiz-question font-bold-title">
          <div class="col-8">{{ question.question.text }}</div>
          <div class="col-3 text-right">
             <img src="https://media.getlokalapp.com/media/images/coin.svg" height="16">
            {{question.question.points}}
          </div>
        </div>
        </p>
        {% for option in question.options %}
          <div class="w-100 row m-1 pt-1 pb-1 align-items-center quiz-answer" data-quiz-answer={{option.id}}>
<!--            <span class="rounded-circle border border-warning option-bullet pt-1 pb-1 pl-2 pr-2">{{forloop.counter}}</span>-->
            {{option.option_text}}
          </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="font-normal text-muted mt-2">
      <p>{% trans "By clicking submit you will" %}</p>
      <ul>
<!--        <li>{% trans "use 1 ticket" %}</li>-->
        <li>{% trans "not be able to change your answers" %}</li>
      </ul>
    </div>
    <div> <button class="btn btn-warning w-100 mb-2" id="submit_button" type="submit">{% trans "Submit" %}</button></div>
    {% elif state == 3 or state == 2 %}
    {% if state == 3 or participated or user.tickets == 0 %}
    <div class="quiz disabled mt-2">
      {% for question in questions %}
      <div class="card m-1" data-quiz-question={{question.question.id}} style="padding:10px;">
        <div class="row mt-2">
        <p class="quiz-question font-bold-title">
          <div class="col-8">{{ question.question.text }}</div>
          <div class="col-3 text-right">
             <img src="https://media.getlokalapp.com/media/images/coin.svg" height="16">
            {{question.question.points}}
          </div>
        </div>
        </p>
        {% for option in question.options %}
          {% if option.id == question.selected.id %}
          <div class="w-100 row m-1 align-items-center quiz-option selected" data-quiz-answer={{option.id}}>
            {{option.option_text}}
          </div>
          {% else %}
          <div class="w-100 row m-1 align-items-center quiz-option" data-quiz-answer={{option.id}}>
            {{option.option_text}}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% elif state == 4 %}
    <div class="quiz mt-2" id="myQuiz">
      {% for question in questions %}
      <div class="card m-1" data-quiz-question={{question.question.id}} style="padding:10px;">
        <div class="row mt-2">
        <p class="quiz-question font-bold-title">
          <div class="col-8">{{ question.question.text }}</div>
          <div class="col-3 text-right">
             <img src="https://media.getlokalapp.com/media/images/coin.svg" height="16">
            {{question.question.points}}
          </div>
        </div>
        </p>
        {% if question.selected %}
          {%if question.correct.id == question.selected.id %}
          <div class="w-100 row m-1 align-items-center quiz-option chosen correct" data-quiz-answer={{question.correct.id}}>
            {{question.correct.text}}
          </div>
          {% else %}
          <div class="w-100 row m-1 align-items-center quiz-option chosen" data-quiz-answer={{question.selected.id}}>
            {{question.selected.text}}
          </div>
          <div class="w-100 row m-1 align-items-center quiz-option correct" data-quiz-answer={{question.selected.id}}>
            {{question.correct.text}}
          </div>
          {% endif %}
        {% else %}
        <div class="w-100 row m-1 align-items-center quiz-option correct" data-quiz-answer={{question.correct.id}}>
          {{question.correct.text}}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{%block customjs %}
<script type="text/javascript">
var Quiz = function(){
  var self = this;
  this.init = function(){
    self._bindEvents();
  }
  this._pickAnswer = function($answer, $answers){
    $answers.find('.quiz-answer').removeClass('active');
    $answer.addClass('active');
  }
  window.onload = function() {
    if ('{{whatsapp_share}}' == 'True') {
      cookievalue = "refreshed"+escape({{user.id}})
      if(document.cookie.indexOf(cookievalue) == -1) {
         var now = new Date();
         now = new Date(now.getTime() + (15 * 60 * 1000));
         document.cookie="name=" + cookievalue + "; expires=" + now.toUTCString() + ";";
         Android.clickShare('{{ user.share_uri }}');
         }
    }
  }
  this._bindEvents = function(){
    $('#submit_button').on('click', function(e){
      var questionanswer = [];
      $('.active').map(function() {
        var $quesid = $(this).closest('div[data-quiz-question]').data('quiz-question');
        var $ansid = $(this).data('quiz-answer');
        questionanswer.push({'question':$quesid, 'answer': $ansid});
      });
      if (questionanswer.length != {{ questions|length }} ) {
        $('.check-alert').removeClass('hide').addClass('show').slideDown().show();
        $('html, body').animate({
          scrollTop: $('.check-alert').offset().top
        });
        return false;
      }
      else {
        var datatosend = JSON.stringify(questionanswer);
        console.log(datatosend);
        $.ajax({
            method: "POST",
            url: "/misc_content/quiz_submit/",
            headers: {
              'Authorization': 'Token {{user.auth_token}}',
              'Accept-Language': '{{ LANGUAGE_CODE }}',
            },
            data: {'questions': datatosend},
            success: function (data, status) {
              if (data.status == "OK") {
                 $('.submit-alert').removeClass('hide').addClass('show').slideDown().show();
                 $('html, body').animate({
                    scrollTop: $('.submit-alert').offset().top
                 });
                 $('.quiz').addClass('disabled');
                 $('.quiz-answer').off('click');
                 $('#submit_button').off('click');
                 $('#submit_button').addClass('inactive');
              }
              else {
                console.log(data.status);
                $('.check-alert strong')[0].innerHTML = data.status;
                $('.check-alert').removeClass('hide').addClass('show').slideDown().show();
              }
            },
            error: function(response) {
              console.log(response);
            }
        });
      }
     });
    $('.quiz-answer').on('click', function(){
      var $this = $(this),
          $answers = $this.closest('div[data-quiz-question]');
      self._pickAnswer($this, $answers);
    });
   $(document).on("change", "#game_dropdown", function(){
     var quiz_id = $(this).val();
     const queryString = window.location.search;
     const urlParams = new URLSearchParams(queryString);
     const location_id = urlParams.get('location_id');
     text = 'misc_content/quiz/?quiz_id='+quiz_id+'&location_id='+location_id
     Android.clickReload(text);
   });
   $('.yes_button').on('click', function(e){
     $('.no_button').addClass('hide').hide();
     $('.yes_button').addClass('yes-selected');
     $('.yes-color').removeClass('yes-color');
     $('.bottom-half-referral-nudge').show();
     $('.no-info').hide();
     $(this).attr('disabled', true);
   });
   $('.no_button').on('click', function(e){
     $('.yes_button').addClass('hide').hide();
     $('.no_button').addClass('no-selected');
     $('.no-color').removeClass('no-color');
     $('.bottom-half-referral-nudge').show();
     $('.yes-info').hide();
     $(this).attr('disabled', true);
   });

  }
}
var quiz = new Quiz();
quiz.init();
</script>
    <script id="game_js" type="application/json">{{ quiz_share|safe }}</script>
<script type="text/javascript">
  var game_share_js = document.getElementById('game_js').innerHTML;
  function gameClickShare(){
    Android.clickShare(2,'{{user.deep_link}}', '{{user.share_text}}', game_share_js);
  }

</script>
{%endblock customjs %}


