{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
  <style>
    .card {
      margin-bottom: 10px;
    }
    .sponsor_card {
      border-color: #fff;
    }
    .card-body {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .card-subtitle {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .card-title {
      font-family:var(--title-font-family);
      font-size:var(--title-font-size);
      font-weight:var(--title-font-weight);
    }
    .btn {
      font-family:var(--title-font-family);
      font-weight:var(--title-font-weight);
    }
    .rules-card {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .green-timer {
        color: #00B693;
        border-color:#00B693;
    }
    .red-text {
      color: #9D0819;
    }
    .pending-ref {
      background-image: url('https://media.getlokalapp.com/media/images/referral_quiz/referral_card/ipl-bg.png');
      background-size: cover;
      border-radius: 10px;
      min-height: 200px;
    }
    .success-ref {
      background-image: url('https://media.getlokalapp.com/media/images/ipl_logos/referrals_completed_card.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .inc-line-height{
      line-height: 140%;
    }
    .pen-ref-img{
      width:50%;
      margin-left: 0;
      margin-right: auto;
      float:left;
    }
    .fg-img{
      max-width:100%;
      object-fit: contain;
      border-radius: 10px;
    }
    .pen-ref-text{
      width: 50%;
      margin-left: auto;
      margin-right: 0;
      float:right;
    }
    .ref-img-text{
      width: 50%;
    }
    .kyc-mobile-exists{
      background: linear-gradient(to bottom, #4c61e1, #3b4db9);
      border-radius: 20px;
    }
    .mobile-card-button{
      width: 35%;
    }
    .kyc-mobile-not-found{
      border-radius: 20px;
    }
    .card-title-bg{
      background: linear-gradient(to right, #4c61e1, #3b4db9);
      border-radius: 20px 20px 0px 0px;
    }
    .input-border{
      border: 1px solid grey;
      letter-spacing: 3px;
      text-align: center;
    }
    .ref-card-title {
      text-align: left !important;
      font-size: 18px !important;
      color: #1685DB !important;
      font-weight: bold;
    }
    .ref-card-subtitle {
      text-align: left !important;
      color: #404040 !important;
      font-size: 14px !important;
      font-weight: bold;
    }
    .ref-card-button-text {
      color: #404040 !important;
      font-size: 16px !important;
      text-align: center !important;
      font-weight: bold !important;
    }
    .ref-card-button {
      background-color: white !important;
      border-radius: 8px !important;
      width: 100%;
      white-space: normal;
      word-wrap: break-word;
    }
    .success-ref {
      background-color: #1AB993;
      border-radius: 10px;
      min-height: 150px;
    }
    .success-text{
      width: 50%;
      margin-left: 0;
      margin-right: auto;
      float:left;
    }
    .success-img{
      width:50%;
      margin-left: auto;
      margin-right: 0;
      float:right;
    }
    .success-fg-img{
      max-width:100%;
      object-fit: contain;
      border-radius: 10px;
    }
    .success-card-button {
      border-radius: 8px !important;
      width: 100%;
      white-space: normal;
      word-wrap: break-word;
    }


  </style>
{% endblock customcss %}

{% block content %}
<div style="margin-top:10px">
  <div class="col-sm-12 col-md-8 col-lg-6">
    {% if sponsor %}
    <div class="sponsor_card p-0 m-0 col-12">
      <button onclick="Android.openExternalPage('{{sponsor.url}}')" style="border:none; margin:0; padding:0; background-color:#fff;"><img src="{{sponsor.image}}" class="img-fluid rounded"></button>
    </div>
    {% endif %}
<!--    <div class="ticket_card">-->
<!--      <div class="card">-->
<!--        <div class="card-body p-2 w-100">-->
<!--          <h5 class="card-title">{% trans "Your tickets :" %} {{user.tickets}}</h5>-->
<!--          {% if user.tickets != 0 %}-->
<!--          <p class="card-text">{% trans "Use your tickets to participate in daily quizzes!" %}</p>-->
<!--          <p class="card-text">{% trans "1 ticket = 1 quiz" %}</p>-->
<!--          {% else %}-->
<!--          <p class="card-text red-text">{% trans "You cannot participate in this quiz because you don’t have any tickets!" %}</p>-->
<!--          {% endif %}-->
<!--          <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning w-100 text-left">-->
<!--          {% trans "Refer and Earn Tickets" %}-->
<!--          <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">-->
<!--          </a>-->
<!--          <p class="card-text">{% trans "Earn 3 tickets for each successful referral!" %}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="referral_card mt-2">
      <div class="ref-img-card">
        {% if pending_referrals > 0 %}
        <div class="card-body pending-ref p-0 w-100 d-flex">
        <div class="pen-ref-img m-0 p-0 d-flex align-items-end flex-column">
          <img class="fg-img mt-auto mr-auto" src="https://media.getlokalapp.com/media/images/referral_quiz/referral_card/ipl-foreground.png" alt="">
        </div>
        <div class="pen-ref-text text-center p-2 d-flex align-items-end flex-column">
          <p class="text-white mt-0 mr-auto ref-card-title card-title">{% trans "Lokal Guru Quiz Contest" %}</p>
          <p class="text-white mt-2 mr-auto ref-card-subtitle card-subtitle">{% trans "Play, invite friends & win exciting prizes daily!!" %}</p>
<!--            <p class="text-warning mb-1">{% trans "Pending Referrals: " %} {{pending_referrals}}</p>-->
          <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning center ref-card-button mt-auto mb-0">
            <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/add_friends.svg" style="margin-bottom:0.25rem" width="16">
            {% trans "Invite Friends" %}
          </a>
        </div>
        </div>
        {% else %}
        <div class="card-body success-ref p-0 w-100 d-flex">
          <div class="success-text pl-3 pt-3 pb-3 pr-1 d-flex align-items-start flex-column">
            <h4 class="text-white card-title">{% trans "Congrats!" %}</h4>
            <h6 class="text-white inc-line-height font-weight-bold card-subtitle">{% trans "You are now eligible to play all quizzes!" %}</h6>
            <a onclick="Android.clickShare('{{ user.share_uri }}')" class="btn btn-warning text-center success-card-button mt-auto mb-0">
              <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
              {% trans "Refer Friends" %}
            </a>
          </div>
          <div class="success-img m-0 p-0 d-flex align-items-end flex-column">
            <img class="success-fg-img mt-auto ml-auto" src="https://media.getlokalapp.com/media/images/ipl_logos/success-fg.png" alt="">
          </div>
        </div>
        {% endif %}
      </div>
    </div>

<!--    <div class="kyc_mobile_card mt-2 mb-3">-->
<!--      <div id="kyc-mobile-exists" class="card kyc-mobile-exists" {% if not kyc_mobile_no %} style="display: none"  {% endif %}>-->
<!--        <div class="card-body text-center">-->
<!--          <img src="https://media.getlokalapp.com/media/images/ipl_logos/tick.svg">-->
<!--          <h5 class="card-text text-white p-2">{% trans "You will receive payment on the below number" %}</h5>-->
<!--          <h4 class="text-white pb-1" id="kycPhoneNo">{{kyc_mobile_no}}</h4>-->
<!--          <a id="editMobNo" class="btn btn-warning mobile-card-button">-->
<!--            <img src="https://media.getlokalapp.com/media/images/ipl_logos/edit.svg">-->
<!--            {% trans "Edit" %}-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card kyc-mobile-not-found" {% if kyc_mobile_no %} style="display: none" {% endif %}>-->
<!--        <div class="card-title card-title-bg text-center text-white p-2">-->
<!--          <img src="https://media.getlokalapp.com/media/images/ipl_logos/warning.svg">-->
<!--          {% trans "Important" %}-->
<!--        </div>-->
<!--        <div class="card-body mobile-no-form pb-0">-->
<!--          <form>-->
<!--            <div class="form-group mb-0">-->
<!--              <label for="kycVerifiedMobileNo">{% trans "Please enter a KYC verified paytm number below. You will receive your winnings on this number." %}</label>-->
<!--              <div id ="mobileError" style="display:none"> <p class="text-danger"">{% trans "Must be 10 digits" %}</p> </div>-->
<!--              <input type="number" class="form-control input-border" id="kycVerifiedMobileNo" aria-describedby="kycVerifiedMobileNo" placeholder="{% trans "Your Phone Number" %}" required>-->
<!--              <div class="text-center pt-3">-->
<!--                <a id="submitMobNo" class="btn btn-warning mobile-card-button">-->
<!--                  {% trans "Submit" %}-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    {% if current_game %}
    <div class="card quiz-nudge-card m-0 p-0 mt-2">
      <div class="card-body w-100 pt-0 pb-0 mt-0 mb-0">
        <div class="pt-2 pb-2 row align-items-center">
          <div class="col-1 table-column">
            <img src="https://media.getlokalapp.com/media/images/ipl_logos/icons/quiz_icon.svg" height="16">
          </div>
          <div class="col-6 table-column">{%trans "Live Quiz" %}</div>
          <div class="col-5 table-column text-right green-timer">⏱️{{current_game.timer}}</div>
        </div>
        {% if current_game.banner %}
        <div class="row" style="object-fit:cover;">
          <img src="{{current_game.banner}}" width="100%">
        </div>
        {% endif %}
        <div class="text-left">{{current_game.date}}</div>
      </div>
      <a class="btn btn-warning m-2 text-left" onclick="Android.changePageWithData(1,'quiz_id={{current_game.id}}&location_id={{location}}')">
        {% trans "Play now!" %}
        <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/arrow.svg" style="margin-bottom:0.25rem" width="16">
      </a>
        <a class="btn btn-outline-warning m-2 text-left" onclick="currentGameClickShare()">
        {% trans "Invite friends to play" %}
        <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
      </a>
    </div>
    {% endif %}
    {% if previous_game and user.rank and user.rank != -1%}
    <div class="previous_quiz_card mt-2">
      <div class="card">
        <div class="card-body p-3">
          <p class="card-subtitle">{% trans "Last quiz you played:" %} {{previous_game.date}}</p>
          {% if previous_game.banner %}
            <img class="card-img-top game-banner" src="{{previous_game.banner}}" alt="{{previous_game.title}}">
          {% endif %}
<!--          <div class="row mt-1 mb-1">-->
<!--            <div class="col-1 table-column">-->
<!--              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/correct_tick.svg" style="margin-bottom:0.25rem" width="16">-->
<!--            </div>-->
<!--            <div class="col-8 table-column">-->
<!--              {% trans "Correct Answers:" %}-->
<!--            </div>-->
<!--            <div class="col-3 table-column text-right">-->
<!--              {{user.score}}/{{previous_game.total}}-->
<!--            </div>-->
<!--          </div>-->
          <div class="row mt-1 mb-1">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/coin.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Points earned:" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.score}}/{{previous_game.total}}
            </div>
          </div>
          <div class="row mt-1 mb-1">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Leaderboard rank:" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.rank}}
            </div>
          </div>
          {% if user.winnings != 0 %}
          <div class="row mt-1 mb-1">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/money_sign.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Prize money earned :" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.winnings}}
            </div>
          </div>
          {% endif %}
          <a class="btn btn-outline-warning w-100 text-left mb-1" onclick="previousGameClickShare()">
          {% trans "Share Results" %}
            <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
          </a>
          <a class="btn btn-outline-warning w-100 text-left" onclick="Android.changePageWithData(1,'quiz_id={{previous_game.id}}&location_id={{location}}')">
          {% trans "Check leaderboard" %}
            <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/arrow.svg" style="margin-bottom:0.25rem" width="16">
          </a>
        </div>
      </div>
    </div>
    {% endif %}

<!--    <div class="campaign_progress_card">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col-2 table-column text-center">-->
<!--              {% thumbnail user.profile_pic "30x30" crop="center" as im %}-->
<!--                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">-->
<!--              {% empty %}-->
<!--                <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">-->
<!--              {% endthumbnail %}-->
<!--            </div>-->
<!--            <div class="col-7 table-column">{{ user.name }}</div>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div class="card-text"><p>{% trans "Score card:" %}</p></div>-->
<!--          <div class="row mt-1 mb-1">-->
<!--            <div class="col-1 table-column">-->
<!--              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/correct_tick.svg" style="margin-bottom:0.25rem" width="16">-->
<!--            </div>-->
<!--            <div class="col-8 table-column">-->
<!--              {% trans "Total quizzes played" %}-->
<!--            </div>-->
<!--            <div class="col-3 table-column text-right">-->
<!--              {{user.quizzes}}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row mb-1">-->
<!--            <div class="col-1 table-column">-->
<!--              <img height="16" src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" style="margin-bottom:0.25rem" width="16">-->
<!--            </div>-->
<!--            <div class="col-8 table-column">-->
<!--              {% trans "Leaderboard rank" %}-->
<!--            </div>-->
<!--            <div class="col-3 table-column text-right">-->
<!--              {{user.rank}}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row mb-2">-->
<!--            <div class="col-1 table-column">-->
<!--              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/money_sign.svg" style="margin-bottom:0.25rem" width="16">-->
<!--            </div>-->
<!--            <div class="col-8 table-column">-->
<!--              {% trans "Total winnings" %}-->
<!--            </div>-->
<!--            <div class="col-3 table-column text-right">-->
<!--              {{user.winnings}}-->
<!--            </div>-->
<!--          </div>-->
<!--          <a class="btn btn-outline-warning w-100 text-left" onclick="Android.clickShare(1,'https://play.google.com/store/apps/details?id=get.lokal.localnews&referrer', 'share text here', '')">-->
<!--          {% trans "Share Results" %}-->
<!--            <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">-->
<!--          </a>-->
<!--          <a class="btn btn-outline-warning w-100 text-left" onclick="Android.changePage(2)">-->
<!--          {% trans "Check leaderboard" %}-->
<!--            <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/arrow.svg" style="margin-bottom:0.25rem" width="16">-->
<!--          </a>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    {% if locale == 'te' %}-->
<!--    <video class="embed-responsive embed-responsive-16by9 mb-1" poster="https://media.getlokalapp.com/media/images/telugu-referral-share-image.jpg" controls style="border-radius:4px;">-->
<!--      <source src="https://media.getlokalapp.com/transcoded/1498274_ipl_s.mp4/1498274_c4e996b54155415ba39b868f2a56429e.mp4" type="video/mp4">-->
<!--      <iframe class="embed-responsive-item rounded" src="https://media.getlokalapp.com/transcoded/1498274_ipl_s.mp4/1498274_c4e996b54155415ba39b868f2a56429e.mp4" title="On boarding video"></iframe>-->
<!--      Your browser does not support the video player.-->
<!--    </video>-->
<!--    {% endif %}-->
    <div class="rules-card mt-2 col-12" >
      <div class="row">
        <div class="col-5 font-bold-title">
        <h5>{% trans "Rules" %}</h5>
        </div>
        <div class="col-7">
          <hr style="border-top:1px solid #FFBB00; " />
        </div>
        </div>
        <div class="rules">
          {% for rule_section in rules %}
          <ul>
            <div>
              {% if rule_section.thumb_url %}
              <img height="16" src='{{ rule_section.thumb_url }}' style="margin-bottom:0.25rem" width="16">&nbsp;&nbsp;
              {% endif %}
              <span class="font-bold-title">{{rule_section.title}}</span>
            </div>
            {% for rule in rule_section.rules %}
            <li>{{rule.title}}</li>
            {% endfor %}
          </ul>
          {% endfor %}
          {% if prizes %}
          <div class="card mt-2">
          <table class="table">
            <thead class="bg-warning">
            <th scope="col">{% trans "Leaderboard Rank" %}</th>
            <th scope="col">{% trans "Prizes" %}</th>
            </thead>
            <tbody>
            {% for key, value in prizes.items %}
            <tr>
              <th scope="row">{{ key }}</th>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          {% endif %}
        </div>
    </div>
    <hr>
    <div class="font-normal text-muted" style="margin-top:20px">
        <h5 class="font-bold-title">{% trans "Terms and conditions" %}</h5>
        <div class="">
          <ul>
            <strong>{% trans "Referral:" %}</strong>
            <li>{% trans "Your friends must install the app from your referral link and they have to login after installing the app from the referral link" %}</li>
            <li>{% trans "If the referred user has already used the app before, the referral would be invalid" %}</li>
          </ul>
          <ul>
            <strong>{% trans "Others:" %}</strong>
            <li>{% trans "Lokal reserves the right to deny / change the contest rules and rewards anytime" %}</li>
            <li>{% trans "If Lokal is not able to contact you or send you the prizes for reasons not in our control, we are not liable for any consequences" %}</li>
          </ul>
          {% trans "Contact us for enquiries and grievances regarding referral contest:" %}
        </div>
      </div>
    <div class="text-center" style="margin-bottom:20px">
      <a onclick="Android.clickFeedback()" class="btn btn-outline-warning w-100">
         {%trans "Contact Us" %}
      </a>
    </div>
  </div>
  </div>
{% endblock content %}

{%block customjs %}
<script id="current_js" type="application/json">{{ current_game_share|safe }}</script>
<script id="previous_js" type="application/json">{{ pg_share|safe }}</script>
<script type="text/javascript">
  var current_game_share_js = document.getElementById('current_js').innerHTML;
  var pg_share_js = document.getElementById('previous_js').innerHTML;
  function currentGameClickShare(){
    Android.clickShare(2, '{{current_game.deep_link}}', '{{current_game.share_text}}', current_game_share_js);
  }
  function previousGameClickShare(){
    Android.clickShare(2, '{{previous_game.deep_link}}', '{{previous_game.share_text}}', pg_share_js);
  }

  $(document).ready(function(){
    $("#editMobNo").click(function(){
      $(".kyc-mobile-exists").hide();
      $(".kyc-mobile-not-found").show();
    });

    $("#submitMobNo").click(function(){
      if ($("#kycVerifiedMobileNo").val().length == 10){
        $("#mobileError").hide();
        $.post("add_kyc_mobile_no/",
        {
          user: {{user.id}} ,
          kyc_mobile_no: $("#kycVerifiedMobileNo").val() ,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        function(data,status){
          if (status == "success")
          {
            $("#kycPhoneNo").html(data.kyc_mobile_no);
            $("#kyc-mobile-exists").show();
            $(".kyc-mobile-not-found").hide();
          }
        });

      }
      else{
        $("#mobileError").show()
      }

    });

  });


</script>
{% endblock customjs %}
