{% extends 'basic.html' %}
{% load static i18n compress %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% block customcss %}
   <style>
    .card {
      bottom-margin: 10px;
    }
    .title-font {
      font-family:var(--title-font-family);
      font-size:var(--title-font-size);
      font-weight:var(--title-font-weight);
    }
    .body-font {
      font-family:var(--body-font-family);
      font-size:var(--body-font-size);
      font-weight:var(--body-font-weight);
    }
    .btn {
      font-family:var(--title-font-family);
      font-weight:var(--title-font-weight);
    }
  </style>
{% endblock customcss %}

{% block content %}
<div style="margin-top:10px">
  <div class="col-md-2 col-lg-3"></div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    {% if sponsor %}
    <div class="sponsor_card p-0 m-0 col-12">
      <button onclick="Android.openExternalPage('{{sponsor.url}}')" style="border:none; margin:0; padding:0; background-color:#fff;"><img src="{{sponsor.image}}" class="img-fluid rounded"></button>
    </div>
    {% endif %}
    {% if user.id != -200 %}
    <div class="campaign_progress_card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2 table-column text-center">
              {% if user.thumb_url %}
              <img class="rounded-circle" src="{{ user.thumb_url }}" width="30" height="30">
              {% else %}
              <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">
              {% endif %}
<!--              {% thumbnail user.profile_pic "30x30" crop="center" as im %}-->
<!--                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">-->
<!--              {% empty %}-->
<!--                <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">-->
<!--              {% endthumbnail %}-->
            </div>
            <div class="col-7 table-column">{{ user.name }}</div>
          </div>
          <hr>
          <div class="card-text"><p>{% trans "Score card:" %}</p></div>
          <div class="row mt-1 mb-1">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/correct_tick.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Total quizzes played" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.played_quizzes}}/{{user.total_quizzes}}
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Leaderboard rank" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.rank}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-1 table-column">
              <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/money_sign.svg" style="margin-bottom:0.25rem" width="16">
            </div>
            <div class="col-8 table-column">
              {% trans "Total winnings" %}
            </div>
            <div class="col-3 table-column text-right">
              {{user.winnings}}
            </div>
          </div>
          <a class="btn btn-outline-warning w-100 text-left mb-1" onclick="campaginCardClickShare()">
          {% trans "Share Results" %}
            <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">
          </a>
<!--          <a class="btn btn-outline-warning w-100 text-left" onclick="Android.clickShare(1,'https://play.google.com/store/apps/details?id=get.lokal.localnews&referrer', 'share text here', '')">-->
<!--          {% trans "Share Results" %}-->
<!--            <img height="16" src="https://media.getlokalapp.com/media/images/ic_share_black_transp.svg" style="margin-bottom:0.25rem" width="16">-->
<!--          </a>-->
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="row">
      <div class="col-6 title-font">
      <h5>{% trans "Mega Leaderboard" %}</h5>
      </div>
      <div class="col-6">
        <hr style="border-top:1px solid #FFBB00; " />
      </div>
      </div>
      {% if user.rank %}
      <a class="btn btn-outline-warning w-100 text-left body-font" onclick="moveToThisDiv()" style="color:black;">
        {% trans "Jump to your rank" %}
        <img height="16" src="https://media.getlokalapp.com/media/images/ipl_logos/icons/arrow.svg" style="margin-bottom:0.25rem" width="16">
      </a>
      {% endif %}
      <img id="loading" src="https://media.getlokalapp.com/media/images/ic_spinner_small.gif" style="height:1.5em; display:none">
      <div class="pt-2 pb-2 row align-items-center leaderboard-header">
        <div class="col-1 table-column text-right">
          <img src="https://media.getlokalapp.com/media/images/ic_rank_medal.svg" height="22">
        </div>
        <div class="col-6 table-column font-bold-title pl-3">{%trans "Name" %}</div>
        <div class="col-5 table-column font-bold-title text-right">{%trans "Points" %} <img height="18" src="https://media.getlokalapp.com/media/images/coin.svg"></div>
      </div>
      <div id="tableGoesHere">
      </div>
      {% comment %}
            {% for list_user in user_list %}
        {% if forloop.counter <= 10 %}
        <div class="border-wrap-winner mt-2 row">
        {% else %}
        <div class="border-wrap-all mt-2 row">
        {% endif %}
        {% if user and list_user.id == user.id %}
          <div class="pt-1 pb-1 w-100 row m-0 align-items-center" id="myRank" style="border-radius:6px; background:#ffe381">
        {% else %}
          <div class="pt-1 pb-1 w-100 row m-0 align-items-center" style="border-radius:6px; background:#fff">
        {% endif %}
            <div class="col-1 table-column text-right body-font">{{ forloop.counter }}</div>
            <div class="col-2 table-column text-center">
              {% if list_user.thumb_url %}
              <img class="rounded-circle" src="{{ list_user.thumb_url }}" width="30" height="30">
              {% else %}
              <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">
              {% endif %}
<!--              {% thumbnail list_user.profile_pic "30x30" crop="center" as im %}-->
<!--                <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">-->
<!--              {% empty %}-->
<!--                <img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">-->
<!--              {% endthumbnail %}-->
            </div>
            <div class="col-7 table-column body-font">{{ list_user.name }}</div>
            <div class="col-2 table-column text-right body-font">{{ list_user.score }}</div>
          </div>
        </div>
        {% endfor %}
          {% endcomment %}
    </div>  <!-- class container closing -->
  </div>
</div>
{% endblock content %}

{% block customjs %}
<script id="userid" >{{ user.id }}</script>
<script type="text/javascript">
function json2table(json, classes) {
  var bodyRows = '';

  json.map(function(row, index) {
    index +=1
    if (index <= 10) {
      bodyRows += '<div class="border-wrap-winner mt-2 row">'
    }
    else {
      bodyRows += '<div class="border-wrap-all mt-2 row">'
    }
    var id = row['id'];
    if (user_id && user_id != -200 && id == user_id){
      var rank = row['rank'];
      if ( !rank) {
         rank = index;
      }
      bodyRows +='<div class="pt-1 pb-1 w-100 row m-0 align-items-center" id="myRank" style="border-radius:6px; background:#ffe381">'
      bodyRows += '<div class="col-1 table-column text-right body-font">'+ rank +'</div><div class="col-2 table-column text-center">';
    }
    else {
      bodyRows += '<div class="pt-1 pb-1 w-100 row m-0 align-items-center" style="border-radius:6px; background:#fff">';
      bodyRows += '<div class="col-1 table-column text-right body-font">'+ index +'</div><div class="col-2 table-column text-center">';
    }
    var thumburl = row['thumb_url'];
    var name = row['name'];
    var score = row['score'];
    if (thumburl) {
      bodyRows += '<img class="rounded-circle" height="30" src='+ thumburl +' width="30">';
    }
    else
    {
      bodyRows += '<img class="rounded-circle" height="30" src="https://media.getlokalapp.com/media/images/user.svg" width="30">';
    }
    bodyRows += '</div>';
    bodyRows += '<div class="col-7 table-column body-font">'+ name +'</div>';
    bodyRows += '<div class="col-2 table-column text-right body-font">'+ score +'</div>';
    bodyRows += '</div>';
    bodyRows += '</div>';

  });

  return bodyRows;
}
var users_json = JSON.parse('{{ user_list | escapejs }}');
var user_id = document.getElementById('userid').innerHTML;
document.getElementById('tableGoesHere').innerHTML = json2table(users_json, 'table');

</script>
<script id="campaign_js" type="application/json">{{ campaign_share|safe }}</script>
<script type="text/javascript">
  var campaign_share_js = document.getElementById('campaign_js').innerHTML;
  function campaginCardClickShare(){
    Android.clickShare(2,'{{user.deep_link}}', '{{user.share_text}}', campaign_share_js);
  }

</script>
    <script>
      function moveToThisDiv(){
         if (document.getElementById("myRank")) {
            document.getElementById("myRank").scrollIntoView();
         }
      }
    </script>

{% endblock customjs %}
